body {
    background-image: url(weather2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cityName{
    margin-top: 20px;
}
#cityName {
    color: black;
}
.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tempCard {
    display: flex;
    flex-direction: column;
    height: 47vh;
    width: 35vw;
    border: 1px solid black;
    border-radius: 1vh;
    margin-right: 20px;
    background-size: contain;
    background-color: #ffb743c7;
    background-repeat: no-repeat;
    font-size: large;
    color: black;
}

.image {
    height: 30%;
    width: 30%;
    margin: 5px;
    display: flex;
}
#text{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10px;
}

.windCard {
    height: 47vh;
    width: 35vw;
    border: 1px solid black;
    border-radius: 1vh;
    margin-right: 20px;
    background-image: url('windSpeed.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: large;
    color: black;
}

#temp {
    margin-left: 8vh;
}

#humidity {
    margin: 7vh;
    margin-left: 8vh;
}

#feelslike {
    margin-left: 8vh;
}

#windSpeed {
    margin: 5vh;
}

#country {
    margin: 5vh;
}

#region {
    margin: 5vh;
}
#windDir {
    margin: 5vh;
}

@media screen and (max-width: 800px) {
   
    html{
        height: 150%;
    }
    .cardContainer{
        display: inline;
    }
    .tempCard {
        width: 72vw;
        margin: 50px;
    }
    .windCard {
        width: 72vw;
        margin: 50px;
    }
  }