body {
    background-image: url(backgroundImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cityName{
    margin-top: 20px;
}
#date {
    color: black;
}
.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tempCard {
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 35vw;
    border-radius: 1vh;
    margin-right: 20px;
    background-size: contain;
    background-color: #d3d3d35c;
    background-repeat: no-repeat;
    font-size: large;
    color: white;
    box-shadow: 1px 2px 9px 2px #5b5b5b;
}

.image{
    display: flex;
    gap: 20px;
    height: 30%;
    width: 30%;
    margin: 15px;
}

#text{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10px;
}

.windCard {
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 35vw;
    border-radius: 1vh;
    margin-right: 20px;
    background-size: contain;
    background-color: #d3d3d35c;
    background-repeat: no-repeat;
    font-size: large;
    color: white;
    box-shadow: 1px 2px 9px 2px #5b5b5b;
}

#temp {
    margin-left: 8vh;
    display: flex;
    align-items: center;
    gap: 10px;
}

#humidity {
    margin: 7vh;
    margin-left: 8vh;
    margin-top: 20px;
}

#feelslike {
    margin-left: 8vh;
}

#windSpeed {
    margin: 5vh;
}

#country {
    margin: 5vh;
    margin-top: 0px;
}

#region {
    margin: 5vh;
    margin-top: 0px;
}
#windDir {
    margin: 5vh;
    margin-top: 0px;
}
.icon{
    display: flex;
    gap: 10px;
    position: relative;
    left: 10px;
    top: 9px;
}

@media screen and (max-width: 800px) {
   
    html{
        height: 150%;
    }
    .cardContainer{
        display: inline;
    }
    .tempCard {
        width: 72vw;
        margin: 50px;
    }
    .windCard {
        width: 72vw;
        margin: 50px;
    }
  }